canvas 
{
    background-image: url("../models/canvas background.jpg");
    background-size: cover;
    display: block;
    margin: 0 auto;
}

html
{
    background-image: url("../models/background.jpg");
    background-size: auto;
    background-position: auto;
    background-clip: padding-box;
}